* {
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    height: 100%;
    padding: 40px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px #e1e1e1;  
    margin: 40px auto;
    width: 100%;  
}

.container h1 {
    text-align: center;
}

.add-list-container, .list-container {
    display: grid;
    grid-template-columns: 70% 25%;
    gap: 5%;
    margin-bottom: 20px;
}

.container input {
    padding: 15px;
    font-size: 20px;
    border-style: dashed;
    border-color: black;
}

.container input:focus {
    outline: none;
}

#todo-add, #todo-delete {
    padding: 15px;
    border-style: dashed;
    background-color: white;
    font-size: 20px;
    cursor:pointer;
    border-color: black;
}

#todo-list {
    padding: 15px;
    border-style: dashed;
    background-color: white;
    font-size: 20px;
    text-align: left;
    cursor:pointer;
    border-color: black;
}

.strike-decoration {
    text-decoration: line-through;
  }
  
  @media screen and (max-width: 500px) {
    .add-list-container, .list-container {
        grid-template-columns: 100%;
        gap: 10%;
    }
  }


